<div class="filters">
  <mat-form-field>

      <mat-label>Sort</mat-label>



  </mat-form-field>
</div>

<div class="category">


</div>


<div class="games">
  <div class="game"  (click)="Details()">
    <div class="game-thumb-container">
      <img
        src="../../../assets/MbgLogo.webp"
        alt="thumbnail"
        class="game-thumbnail"
      />
    </div>
    <div class="game-description">
      <p class="game-name">Name</p>
      <div class="content">
          app description...
      </div>
    </div>

  </div>

  <div class="game"  (click)="Details()">
    <div class="game-thumb-container">
      <img
        src="https://image.flaticon.com/icons/png/512/124/124010.png"
        alt="thumbnail"
        class="game-thumbnail"
      />
    </div>
    <div class="game-description">
      <p class="game-name">Name</p>
      <div class="content">
          app description...
      </div>
    </div>

  </div>
  <div class="game"  (click)="Details()">
    <div class="game-thumb-container">
      <img
        src="https://image.flaticon.com/icons/png/512/124/124010.png"
        alt="thumbnail"
        class="game-thumbnail"
      />
    </div>
    <div class="game-description">
      <p class="game-name">Name</p>
      <div class="content">
          app description...
      </div>
    </div>

  </div>
  <div class="game"  (click)="Details()">
    <div class="game-thumb-container">
      <img
        src="https://image.flaticon.com/icons/png/512/124/124010.png"
        alt="thumbnail"
        class="game-thumbnail"
      />
    </div>
    <div class="game-description">
      <p class="game-name">Name</p>
      <div class="content">
          app description...
      </div>
    </div>

  </div>
  <div class="game"  (click)="Details()">
    <div class="game-thumb-container">
      <img
        src="https://image.flaticon.com/icons/png/512/124/124010.png"
        alt="thumbnail"
        class="game-thumbnail"
      />
    </div>
    <div class="game-description">
      <p class="game-name">Name</p>
      <div class="content">
          app description...
      </div>
    </div>

  </div>
  <div class="game"  (click)="Details()">
    <div class="game-thumb-container">
      <img
        src="https://image.flaticon.com/icons/png/512/124/124010.png"
        alt="thumbnail"
        class="game-thumbnail"
      />
    </div>
    <div class="game-description">
      <p class="game-name">Name</p>
      <div class="content">
          app description...
      </div>
    </div>

  </div>  <div class="game"  (click)="Details()">
    <div class="game-thumb-container">
      <img
        src="https://image.flaticon.com/icons/png/512/124/124010.png"
        alt="thumbnail"
        class="game-thumbnail"
      />
    </div>
    <div class="game-description">
      <p class="game-name">Name</p>
      <div class="content">
          app description...
      </div>
    </div>

  </div>  <div class="game"  (click)="Details()">
    <div class="game-thumb-container">
      <img
        src="https://image.flaticon.com/icons/png/512/124/124010.png"
        alt="thumbnail"
        class="game-thumbnail"
      />
    </div>
    <div class="game-description">
      <p class="game-name">Name</p>
      <div class="content">
          app description...
      </div>
    </div>

  </div>

</div>

